* {
    margin: 0;
    padding: 0;
}
.Title {
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 3px gray;
    border-radius: 5px;
    border-bottom: 2px solid gray;
}  
.Intro {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 30px;

}
.Title2{
    text-align: end;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 3px gray;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
}
article img {
    height: 60px;
    margin-left: 100px;
}